In [46]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [47]:
pip install category_encoders

Requirement already satisfied: category_encoders in c:\users\dgkn5\anaconda3\lib\site-packages (2.6.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: scipy>=1.0.0 in c:\users\dgkn5\anaconda3\lib\site-packages (from category_encoders) (1.9.1)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\dgkn5\anaconda3\lib\site-packages (from category_encoders) (0.13.2)
Requirement already satisfied: patsy>=0.5.1 in c:\users\dgkn5\anaconda3\lib\site-packages (from category_encoders) (0.5.2)
Requirement already satisfied: numpy>=1.14.0 in c:\users\dgkn5\anaconda3\lib\site-packages (from category_encoders) (1.23.5)
Requirement already satisfied: pandas>=1.0.5 in c:\users\dgkn5\anaconda3\lib\site-packages (from category_encoders) (1.4.4)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\users\dgkn5\anaconda3\lib\site-packages (from category_encoders) (1.0.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\dgkn5\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dgkn5\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2022.1)
Requirement already satisfied: six in c:\users\dgkn5\anaconda3\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\dgkn5\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (2.2.0)
Requirement already satisfied: joblib>=0.11 in c:\users\dgkn5\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.0)
Requirement already satisfied: packaging>=21.3 in c:\users\dgkn5\anaconda3\lib\site-packages (from statsmodels>=0.9.0->category_encoders) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\dgkn5\anaconda3\lib\site-packages (from packaging>=21.3->statsmodels>=0.9.0->category_encoders) (3.0.9)

In [48]:
df=pd.read_csv("C:/Users/dgkn5/CSV/car_evaluation.csv",header=None)

In [49]:
df.shape

(1728, 7)

In [50]:
df.head()

       0      1  2  3      4     5      6
0  vhigh  vhigh  2  2  small   low  unacc
1  vhigh  vhigh  2  2  small   med  unacc
2  vhigh  vhigh  2  2  small  high  unacc
3  vhigh  vhigh  2  2    med   low  unacc
4  vhigh  vhigh  2  2    med   med  unacc

In [51]:
col_names = ["buying","maint","doors","persons","lug_boot","safety","class"]
df.columns = col_names
col_names

['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']

In [52]:
df.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   class     1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [54]:
col_names = ["buying","maint","doors","persons","lug_boot","safety","class"]

for col in col_names:
    print(df[col].value_counts())

vhigh    432
high     432
med      432
low      432
Name: buying, dtype: int64
vhigh    432
high     432
med      432
low      432
Name: maint, dtype: int64
2        432
3        432
4        432
5more    432
Name: doors, dtype: int64
2       576
4       576
more    576
Name: persons, dtype: int64
small    576
med      576
big      576
Name: lug_boot, dtype: int64
low     576
med     576
high    576
Name: safety, dtype: int64
unacc    1210
acc       384
good       69
vgood      65
Name: class, dtype: int64

In [55]:
df["class"].value_counts()

unacc    1210
acc       384
good       69
vgood      65
Name: class, dtype: int64

In [56]:
df.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
class       0
dtype: int64

In [57]:
x=df.drop(["class"],axis=1)
y=df["class"]

In [58]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=1)

In [59]:
x_train.shape,x_test.shape

((1209, 6), (519, 6))

In [60]:
x_train.dtypes

buying      object
maint       object
doors       object
persons     object
lug_boot    object
safety      object
dtype: object

In [61]:
x_train.head()

     buying  maint  doors persons lug_boot safety
1497    low   high  5more       4      med    low
851    high    low  5more       4      med   high
443    high  vhigh      2       4    small   high
1631    low    low      2       4    small   high
1621    low    low      2       2    small    med

In [62]:
import category_encoders as ce

In [63]:
encoder=ce.OrdinalEncoder(cols=["buying","maint","doors","persons","lug_boot","safety"])
x_train=encoder.fit_transform(x_train)
x_test=encoder.transform(x_test)

In [64]:
x_train.head()

      buying  maint  doors  persons  lug_boot  safety
1497       1      1      1        1         1       1
851        2      2      1        1         1       2
443        2      3      2        1         2       2
1631       1      2      2        1         2       2
1621       1      2      2        2         2       3

In [65]:
x_test.head()

      buying  maint  doors  persons  lug_boot  safety
1233       3      2      3        3         2       1
592        2      1      3        3         3       3
625        2      1      1        2         1       3
1546       1      4      3        2         3       3
730        2      4      1        2         2       3

In [66]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier(n_estimators=10,random_state=0)
rfc.fit(x_train,y_train)
y_pred=rfc.predict(x_test)

In [67]:
from sklearn.metrics import accuracy_score
print("model accuracy score with 10 decision_trees:{0:0.4f}".format(accuracy_score(y_test,y_pred)))

model accuracy score with 10 decision_trees:0.8536

In [68]:
rfc_100 = RandomForestClassifier(n_estimators=100,random_state=0)
rfc_100.fit(x_train,y_train)
y_pred_100 = rfc_100.predict(x_test)

print("model accuracy score with 10 decision_trees:{0:0.4f}".format(accuracy_score(y_test,y_pred_100)))

model accuracy score with 10 decision_trees:0.8748